/**
  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT

  1. You should never commit this file to a public repository on GitHub.

  2. All public code on GitHub can be searched, that means anyone can see your uploaded .env file.

  3. I did it for convenience using "throw away" API keys so that all features could work out of the box.

  4. Use API keys below for local development, but create a separate set of API keys for production use.

  5. All hosting providers (e.g. Heroku, OpenShift, Azure, Bluemix) allow you to configure environment variables.

  6. Rename this file to `.env` .

  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT
 */


GITHUB_KEY=githubKeyGoesHere
GITHUB_SECRET=githubSecretGoesHere
MONGO_URI=mongoPathGoesHere
PORT=portGoesHere
APP_URL=urlToApplicationGoesHere
CONSUMER_KEY=yelpConsumerKeyGoesHere
CONSUMER_SECRET=yelpConsumerSecretGoesHere
TOKEN=yelpTokenGoesHere
TOKEN_SECRET=yelpTokenSecretGoesHere
CLIENTID=facebookClientIdGoesHere
CLIENTSECRET=facebookClientSecretGoesHere