body {
    font-family: 'Arial', 'Helvetica', 'serif';
    font-size: 16px;
    background-color: #6d3d97;
    color: #fff;
}

.form-control {
    background: transparent;
    color: #fff;
    width: 100% !important;
}